<!DOCTYPE html>
{% load static %}
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Uporabniki</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ps/style.css' %}" />
    <script src="{% static 'ps/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<header style="height: 100px; background: green">
    Uporabniki
</header>

{% block body %}
{% endblock %}

</body>
</html>