{% extends 'ps/base1.html' %}
{% block body1 %}
<div class="login-page">
    {% if form.errors %}
        <p>Napačno uporabniško ime ali geslo</p>
    {% endif %}
    <div class="sign-up">
        <form method="POST" action="/ps/auth/" class=".form-horizontal" > {% csrf_token %}
            <label>Uporabniško ime: <input name="username" type="text" placeholder="Vnesite upor. ime" required /></label><br>
            <label>Geslo: <input name="password" type="password" placeholder="Vnesite geslo" required /></label>
            <label><input type="submit" value="Prijavi se" /></label>
        </form>
    </div>
    <a href="{% url 'ps:registracija' %}">Registracija</a>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endblock %}