<!--{% load static %}

<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Vpis</title>
    <link rel="stylesheet" href="{% static 'ps/style.css' %}" />
    <script src={% static 'ps/jquery-3.2.0.min.js' %} type="text/javascript"></script>
    <script src={% static 'ps/scripts.js' %} type="text/javascript"></script>

</head>
<body>
<header class="login-header">
    Logo & header
</header>

<div class="login-page">
    TUKI
</div>

</body>
</html>-->