{% extends 'ps/base.html' %}
{% block body %}
<div>
    <h1>Delavni nalog: {{ delavninalog.pk }}</h1>
    <ul>
        <li>
            <b>Zdravnik:</b> {{ delavninalog.zdravnik.ime }} {{ delavninalog.zdravnik.priimek }}
        </li>
        <li>
            <b>Pacient(i):</b>
            <ul>
            {% for p in pacienti %}
                <li>{{ p.pacient.ime }} {{ p.pacient.priimek }}</li>
            {% endfor %}
            </ul>
        </li>
        <li>
            <b>Zadolžena medicinska sestra:</b> {{ prvi.pacient.okolisID.medicinskaSestra.ime }} {{ prvi.pacient.okolisID.medicinskaSestra.priimek }}
        </li>
        <li>
            <b>Bolezen:</b> {{ delavninalog.bolezn.imeBolezni }}
        </li>
        <li>
            <b>Datum prvega obiska:</b> {{ delavninalog.datumPrvegaObiska.day }}. {{ delavninalog.datumPrvegaObiska.month }}. {{ delavninalog.datumPrvegaObiska.year }}
        </li>
        <li>
            <b>Nujnost obiska:</b> {{ delavninalog.nujnostObiska }}
        </li>
        <li>
            <b>Število obiskov:</b> {{ delavninalog.steviloObiskov }}
            <ul>
            {% for o in obiski %}
                <li> <b>Predviden datum {{ o.zaporednoSteviloObiska }}. obiska: </b>{{ o.predvidenDatumObiska.day }}. {{ o.predvidenDatumObiska.month }}. {{ o.predvidenDatumObiska.year }}</li>
                <li> <b>Dejanski datum {{ o.zaporednoSteviloObiska }}. obiska: </b>{{ o.dejanskiDatumObiska.day }}. {{ o.dejanskiDatumObiska.month }}. {{ o.dejanskiDatumObiska.year }}</li>
            {% endfor %}
            </ul>
        </li>
        <li>
            <b>Vrsta obiska:</b> {{ delavninalog.vrstaObiska }}
        </li>
        <li>
            <b>Podvrsta obiska:</b> {{ delavninalog.podVrstaObiska }}
        </li>
        <li>
            <b>Časovni interval med dvema obiskoma:</b> {{ delavninalog.casovniIntervalMedDvemaObiskoma }}
        </li>
        <li>
            <b>Časovno obdobje:</b> {{ delavninalog.casovnoObdobje }}
        </li>
        <li>
            <b>Izvajalec zdravstvene dejavnosti:</b> {{ delavninalog.izvajalecZdravstveneDejavnosti.imeIzvajalecZdravstveneDejavnosti }}
        </li>
        <li>
            <b>Datum vnosa:</b> {{ delavninalog.datumVnosa.day }}. {{ delavninalog.datumVnosa.month }}. {{ delavninalog.datumVnosa.year }}
        </li>
    </ul>

</div>
{% endblock %}