{% extends 'ps/base1.html' %}
{% block body1 %}
<nav  class="navbar navbar-default">
    <div  class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'ps:index' %}">TPO Patronaža</a>
        </div>
    </div>
</nav>
<div class="form-group container" style="width: 500px">
    <h1>Registracija</h1>

    <form method="POST" action="" enctype="multipart/form-data"  class=".form-horizontal">
         {% csrf_token %}
        {{ form.as_p }}
        <p>* podatkov o kontaktni osebi ni potrebno vnesti</p>
        <label><input class="form-control" type="submit" value="Nadaljuj" /></label>
    </form>

</div>
{% endblock %}