{% extends 'ps/base.html' %}
{% block body %}
<div class="form-group container">
    <h1>Seznam delovnih nalogov</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Šifra DN</th>
                <th>Datum izdaje</th>
                <th>Vrsta obiska</th>
                <th>Podvrsta obiska</th>
                <th>Izdajatelj</th>
                <th>Pacient</th>
                <th>Zadolžena PS</th>
                <th>Nadomestna PS</th>
            </tr>
        </thead>
        <tbody>
        {% for p in pacientDN_list %}

            <tr>
                <td> <a href="{% url 'ps:nalog' p.delavniNalog.pk %}">{{ p.delavniNalog.pk }}</a></td>
                <td>{{ p.delavniNalog.datumVnosa.day }}. {{ p.delavniNalog.datumVnosa.month }}. {{ p.delavniNalog.datumVnosa.year }}</td>
                <td>{{ p.delavniNalog.vrstaObiska }}</td>
                <td>{{ p.delavniNalog.podVrstaObiska }}</td>
                <td>{{ p.delavniNalog.zdravnik.ime }} {{ p.delavniNalog.zdravnik.priimek }}</td>
                <td>{{ p.pacient.ime }} {{ p.pacient.priimek }}</td>
                <td>{{ p.pacient.okolisID.medicinskaSestra.ime }} {{ p.pacient.okolisID.medicinskaSestra.priimek }}</td>
                <td>NADOMESTNA</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <br>

</div>
{% endblock %}