<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Uporabniki</title>
    <link rel=stylesheet href={% static 'ps/style.css' %}>
</head>
<body>
<header style="height: 100px; background: green">
    Uporabniki
</header>

<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
    </div>
</div>

</body>
</html>